@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 480px) {

    .wrapper{
        width: 100%;
    }
    nav .menu{
        width: 100%;
        margin: 0;
    }
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    .video{
        width:200px;
        display: block;
    }
}